/* ----- FONTS ----- */
@font-face {
    font-family: 'Neue Regrade Bold';
    src: url('Files/Fonts/Neue Regrade Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Neue Regrade Light';
    src: url('Files/Fonts/Neue Regrade Light.otf') format('opentype');
}
@font-face {
    font-family: 'Neue Regrade Medium';
    src: url('Files/Fonts/Neue Regrade Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Neue Regrade Regular';
    src: url('Files/Fonts/Neue Regrade Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Neue Regrade Semibold';
    src: url('Files/Fonts/Neue Regrade Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'Neue Regrade Variable';
    src: url('Files/Fonts/Neue Regrade Variable.ttf') format('opentype');
}

/* ----- COLORS/FONTS ----- */
header, footer {
    background-color: #D14623;
}
body {
    background-color: #151515;
}

h6, nav ul li a {
    color: #151515;
}
h3, h4, p, nav ul li a:hover {
    color: #EDE0D6;
}

.highlight, h2, h5 {
    color: #d77540;
}

.semi-bold, h1 {
    color: #D14623;
}

h1 {
    font-family: "Neue Regrade Medium", sans-serif;
}

h2, h3 {
    font-family: "Neue Regrade Variable", sans-serif;
}

h4, p {
    font-family: "Neue Regrade Regular", sans-serif;
}

h5 {
    font-family: "Neue Regrade Bold", sans-serif;
}

h6 {
    font-family: "Neue Regrade Light", sans-serif;
}

.semi-bold, li {
    font-family: "Neue Regrade Semibold", sans-serif;
}

/* ----- TEXTS ----- */
header, body {
    text-align: center;
}

h1 {
    padding-bottom: 2%;
    margin: 0;
    line-height: 1;
    font-size: 8em;
}

h2 {
    margin: 0;
    padding-bottom: 0.5em;
    font-size: 4em; 
    line-height: 0.8;
}

h3 {
    justify-content: center;
    top: 10%;
    line-height: 1;
    font-size: 2em;
}

h4 {
    padding-bottom: 3em;
    font-size: 2em;
}

h5 {
    margin: 0;
    padding: 0;
    font-size: 3em;
}

.semi-bold, .highlight, h6 {
    font-size: 1em;
}

p {
    margin: 0;
    font-size: 1.5em;
}

/* ----- HEADER/FOOTER ----- */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 1.5em 0;
}

.header-text {
    padding-top: 100px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
}

nav ul li {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

nav ul li a {
    font-size: 1.5em;
    margin: 0 20px;
    list-style-position: inside;
}

a {
    text-decoration: none;
}

footer {
    margin-top: 3%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
}

footer p {
    margin: 0;
    line-height: 1;
}

/* ----- HTML/BODY/DIVIDER ----- */
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

.divider {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ----- CONTAINERS ----- */
.containers {
    display: flex;
    justify-content: center;
}

.column {
    align-items: center;
    padding: 0 3%;
}

.containers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.containers ul li {
    margin-bottom: 1em;
}

.left-container, .right-container {
    width: 50%;
}

.left-container {
    padding-left: 10%;
}

.right-container {
    padding-right: 10%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- CONTACTS ----- */
section#contact h4, img.PDF {
    margin-bottom: 0em;
}

/* ----- IMAGES/VIDEOS/FILES ----- */
.circle-image {
    padding-top: 23%;
    width: auto;
    height: 30em;
    border-radius: 50%;
    overflow: hidden;
}

.PDF {
    max-width: 20%;
    height: auto;
}

.resume {
    align-self: flex-start;
}

.logo {
    width: auto;
    height: 100px;
}

.aseprite {
    width: 80%;
    height: 80%;
}

.bank-app {
    padding-top: 70px;
    width: 60%;
    height: 60%;
    margin: 0;
}

.maya {
    padding: 10px;
    width: auto;
    height: 400px;
}

.side-scroller {
    padding-top: 40%;
}

.pour-vida-sticker {
    width: auto;
    height: 500px;
}

.pour-vida-packaging {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    height: 400px;
}

/* ----- PROJECT COVER ----- */
.project {
    position: relative;
    display: inline-block;
    padding: 20px;
}

.cover {
    width: 200px;
    height: auto;
    transition: transform 1s ease, opacity 1s ease;
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project:hover .cover {
    transform: translateY(100%);
    opacity: 0;
}

.project:hover .hover-content {
    opacity: 1;
}

/* ----- PROJECT DISK ----- */
.disc {
    max-width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 1s linear;
    z-index: 3;
}

.project:hover .disc {
    transform: translate(-50%, -50%) rotate(360deg);
}

.project .spinning-disk::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* ----- FADEIN ANIMATION ----- */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}